body {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: inline-block;
  width: 140px;
  padding: 10px;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: #fb565a;
  border-radius: 4px;
}

.btn:hover {
  background: #d6494d;
}

.btn:active {
  padding-top: 8px;
  border-top: 2px solid #9b2d30;
  background-color: #b63538;
}

.main_header {
  margin-bottom: 0;
  padding-top: 28px;
  background: #eee;
}

.container {
  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}
.main_navigation {
  float: left;
  width: 580px;
}

.shopping_cart {
  float: right;
  min-width: 100px;
}

.shopping_cart span {
  margin-right: 10px;
  opacity: .3;
}



.slide img {
  float: right;
  margin-top: 40px;
}

.slide_content {
  float: left;
  width: 462px;
}

.main_slider {
  margin-bottom: 80px;
  background: #eee;
}

.slide {
  display: none;
  min-height: 353px;
}

.slide:first-child {
  display: block;
}

.slide_slogan {
  font-size: 36px;
  line-height: 36px;
}

.slide_text {
  font-size: 16px;
  line-height: 22px;
}

.slide_more_btn {
  padding-left: 70px;
  padding-right: 70px;
}

.offers {
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
}

.offer_col {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.offer_col h2 {
  text-transform: uppercase;
  margin-top: 15px;
}

.offer_btn_web {

}

.offer_btn_mobile {
  background: #00ca74;
}

.offer_btn_mobile:hover {
  background: #01a25e;
}

.offer_btn_mobile:active {
  border-top: 2px solid #007b47;
  background: #009053;
}

.offer_btn_presentation {
  background: #efc84a;
}

.offer_btn_presentation:hover {
  background: #d6ae2c;
}

.offer_btn_presentation:active {
  border-top: 2px solid #a3841f;
  background: #c09b24;
}

.offer_col:last-child {
  margin-right: 0;
}

.about_us_text {
  display: inline-block;
  width: 620px;
  margin-right: 20px;
  font-size: 16px;
}



.about_us_row {
  font-size: 0;
}

.nerds_logo_big {
  display: inline-block;
  width: 240px;
  height: 119px;
}

.about_us_list_left {
  display: inline-block;
  width: 620px;
  margin-right: 20px;
  font-size: 16px;
}

.about_us_list_right {
  display: inline-block;
  width: 240px;
  font-size: 16px;
}

.about_us {
  padding-top: 60px;
  padding-bottom: 70px;
  border-bottom: 2px solid #eee;
}



.portfolio {
  font-size: 0px;
  padding-top: 45px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px solid #eee;
}

.portfolio_img {
  display: inline-block;
  vertical-align: middle;
  width: 210px;
  height: auto;
  margin-right: 110px;
  opacity: 0.2;
}

.portfolio_img:hover {
  opacity: 1;
}

.portfolio_img:nth-child(3n) {
  margin-right: 0;
}

.portfolio_img a {
  display: block;
}

.portfolio_img img {
  display: block;
  margin: auto;
}

.main_footer {
  margin-top: 85px;
}

.footer_map {
  position: relative;
  background: no-repeat center url(../img/map.png);
  min-height: 415px;
  border-top: 1px solid white;
}

.footer_contacts {
  position: absolute;
  top: 87px;
  width: 204px;
  height: 186px;
  background: #fff;
  padding: 27px 23px;
  line-height: 20px;
}

.footer_contacts p {
  color: #666;
}

.btn_write_to_us {
  box-sizing: border-box;
  width: 100%;
}

.footer_social {
  padding-top: 75px;
  padding-bottom: 75px;
}



.footer_social_btns {
  float: left;
  width: 240px;
  margin-right: 20px;
  font-size: 0;
}


.footer_social_btns a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 42px;
  height: 42px;
  padding: 10px;
  margin-right: 27px;
  background: #e1e1e1;
  border-radius: 50%;
}

.footer_social_btns a:nth-child(3n) {
  margin-right: 0;
}

.footer_social_btns span {
  font-size: 23px;
  line-height: 42px;
  color: #fff;
}

.footer_social_btns a:hover {
  background: #fb565a;
}

.footer_social_btns a:active {
  border-top: 3px solid #b94549;
  padding-top: 7px;
  background: #d6494d;
}

.footer_social_slogan {
  float: right;
  width: 560px;
}

.footer_social_slogan h1,
.footer_social_slogan p {
  margin: 2px;
}





.greetings {
  padding-top: 70px;
  padding-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
}

.catalog_header {
  margin-bottom: 80px;
}

.greetings h1 {
  font-size: 40px;
  line-height: 1.2;
}



.catalog_left_col {
  float: left;
  width: 240px;
}

.catalog_right_col {
  float: right;
  width: 560px;
}

.item_card {
  position: relative;
  display: inline-block;
  width: 240px;
  margin-right: 80px;
  margin-bottom: 80px;
  vertical-align: top;
  font-size: 14px;
}

.item_card img {
  display: block;
}

.item_card:nth-child(2n) {
  margin-right: 0;
}

.item_card_hover {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 160px;
  height: 160px;
  background: #fff;
  text-align: center;
  padding: 20px;
}

.item_card_hover h2 {
  margin-top: 15px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.item_card_hover .item_link {
  text-decoration: none;
  color: #000;
}

.catalog_items {
  font-size: 0;
}

.main_navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: right;
}

.main_navigation li{
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  line-height: 18px;
}

.main_navigation a {
  display: block;
  padding-top: 33px;
  margin: 0 22px;

  text-decoration: none;
  text-transform: uppercase;
  color: black;
}



.main_navigation a:hover:not(.current_page),
.shopping_cart a:hover {
  opacity: 1;
  color: #fb565a;
}

.main_navigation a:active:not(.current_page),
.shopping_cart a:active {
  color: #000;
  opacity: .4;
}



.main_navigation .current_page,
.shopping_cart .current_page {
  border-bottom: 2px solid #fb565a;
}

.nerds_logo {
  float: left;
}

.shopping_cart a {
  display: block;
  padding-top: 33px;

  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  line-height: 18px;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.nerds_logo img {
  display: block;
}



.offer_col p {
  font-size: 15px;
  line-height: 22px;
}

.about_us_lead {
  font-size: 36px;
  line-height: 36px;
}





.sorting {
  outline: 1px dashed red;
  font-size: 0;
  margin-bottom: 18px;
}

.sorting_type {
  float: left;
  width: 460px;
  font-size: 0;
}

.sorting_direction {
  float: right;
  width: 60px;
  font-size: 0;
}

.sorting_type span {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 40px;
}

.sorting_type a{
  display: inline-block;
  margin-right: 45px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #cacaca;
  border-bottom: 1px dotted #00ca74 ;
}

.sorting_type a:nth-child(3n+1){
  margin-right: 0;
}

.sorting_type a:hover {
  color: #000;
  border-bottom: 1px solid #00ca74 ;
}

.sorting_type a:active {
  color: #000;
  border-bottom: none;
}

.sorting_direction a{
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #cacaca;
}

.catalog_pages {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.catalog_pages a {
  display: inline-block;
  min-width: 18px;

  padding: 10px;
  margin-right: 10px;

  vertical-align: baseline;
  text-align: center;

  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: #f1f1f1;
  border-radius: 2px;
}

.catalog_pages .active_page {
  padding: 8px;
  border: 2px solid #f1f1f1;
  background-color: #fff;
}

.catalog_pages .next_page {
  padding-left: 30px;
  padding-right: 30px;
}

.catalog_pages a:not(.active_page):hover {
  background-color: #e5e5e5;
}

.catalog_pages a:not(.active_page):active {
  border-top: 2px solid #b5b5b5;
  padding-top: 8px;
  background-color: #d5d5d5;
}

label {
  display: block;
}

.price_controls label{
  display: inline-block;
  width: 110px;
}




