body {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h2 {
  font-style: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main_header {
  margin-bottom: 0;
  padding-top: 28px;
  background: #eee;
}

.container {
  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}
.main-navigation {
  outline: 1px dashed red;
  float: left;
  width: 580px;
}

.shopping_cart {
  float: right;
  min-width: 100px;
}

.slide img {
  float: right;
  margin-top: 40px;
}

.slide_content {
  float: left;
  width: 462px;
}

.main_slider {
  margin-bottom: 80px;
  background: #eee;
}

.slide {
  display: none;
  min-height: 353px;
}

.slide:first-child {
  display: block;
}

.slide_slogan {
  font-size: 36px;
  line-height: 36px;
}

.slide_text {
  font-size: 16px;
  line-height: 22px;
}

.offer_col {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.offer_col h2 {
  text-transform: uppercase;
  margin-top: 15px;
}

.offer_col:last-child {
  margin-right: 0;
}

.about_us_text {
  display: inline-block;
  width: 620px;
  margin-right: 20px;
  font-size: 16px;
}



.about_us_row {
  font-size: 0;
}

.nerds_logo_big {
  display: inline-block;
  width: 240px;
  height: 119px;
}

.about_us_list_left {
  display: inline-block;
  width: 620px;
  margin-right: 20px;
  font-size: 16px;
}

.about_us_list_right {
  display: inline-block;
  width: 240px;
  font-size: 16px;
}

.about_us {
  padding-top: 60px;
  padding-bottom: 70px;
  border-bottom: 2px solid #eee;
}

.offers {
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
}

.portfolio {
  font-size: 0px;
  padding-top: 45px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px solid #eee;
}

.portfolio_img {
  display: inline-block;
  vertical-align: middle;
  width: 210px;
  height: auto;
  margin-right: 110px;
  opacity: 0.2;
}

.portfolio_img:hover {
  opacity: 1;
}

.portfolio_img:nth-child(3n) {
  margin-right: 0;
}

.portfolio_img a {
  display: block;
}

.portfolio_img img {
  display: block;
  margin: auto;
}

.main_footer {
  margin-top: 85px;
}

.footer_map {
  position: relative;
  background: no-repeat center url(../img/map.png);
  min-height: 415px;
  border-top: 1px solid white;
}

.footer_contacts {
  position: absolute;
  top: 87px;
  width: 204px;
  height: 186px;
  background: #fff;
  padding: 27px 23px;
  line-height: 20px;
}

.footer_social {
  padding-top: 75px;
  padding-bottom: 75px;
}

.footer_social_btns {
  float: left;
  width: 240px;
  margin-right: 20px;
  font-size: 0;
}

.footer_social_slogan {
  float: right;
  width: 560px;
}


 /* inner page */

.greetings {
  padding-top: 70px;
  padding-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
}

.catalog_header {
  margin-bottom: 80px;
}

.greetings h1 {
  font-size: 40px;
  line-height: 1.2;
}



.catalog_left_col {
  float: left;
  width: 240px;
}

.catalog_right_col {
  float: right;
  width: 560px;
}

.item_card {
  display: inline-block;
  width: 240px;
  margin-right: 80px;
  margin-bottom: 80px;
  vertical-align: top;
  font-size: 14px;
}

.item_card:nth-child(2n) {
  margin-right: 0;
}

.catalog_items {
  font-size: 0;
}

.main-navigation ul {
  outline: 1px dashed green;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: right;
}

.main-navigation a {
  outline: 1px dashed blue;
  display: block;
  padding-top: 33px;
  margin: 0 22px;

  text-decoration: none;
  text-transform: uppercase;
  color: black;

}

.main-navigation li{
  outline: 1px dashed black;
  display: inline-block;
  vertical-align: top;

  font-size: 14px;
  line-height: 18px;
}



.nerds_logo {
  float: left;
}

.shopping_cart a {
  display: block;
  padding-top: 33px;

  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  line-height: 18px;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.nerds_logo img {
  display: block;
}



.offer_col p {
  font-size: 15px;
  line-height: 22px;
}

.about_us_lead {
  font-size: 36px;
  line-height: 36px;
}

.footer_contacts p {
  color: #666;
}

.footer_social_btns ul {
  outline: 1px dashed green;
  list-style: none;
  font-size: 0;
  padding: 0;
}

.footer_social_btns li {
  outline: 1px dashed black;
  display: inline-block;
  font-size: 20px;
  margin-right: 27px;
}



.footer_social_btns a {
  outline: 1px dashed blue;
  display: inline-block;
  vertical-align: middle;
  width: 62px;
  height: 62px;
  font-size: 16px;
}



.footer_social_btns li:last-child {
  margin-right: 0;
}

.footer_social_slogan h1,
.footer_social_slogan p {
  margin: 2px;
}



.sorting_type {
  display: inline;
}

.sorting_direction {
  display: inline;
}

.sorting {
  outline: 1px dashed red;
}

.sorting_type a{
  margin-right: 45px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #cacaca;
  border-bottom: 1px dotted #00ca74 ;
}

.sorting_type a:hover {
  color: #000;
  border-bottom: 1px solid #00ca74 ;
}

.sorting_direction a{
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #cacaca;
}

.sorting_type span {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 40px;
}

.catalog_pages {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.catalog_pages a {
  display: inline-block;
  min-width: 18px;
  height: 18px;

  padding: 10px;
  margin-right: 10px;

  vertical-align: baseline;
  text-align: center;

  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: #f1f1f1;
  border-radius: 2px;
}

.catalog_pages .active_page {
  padding: 8px;
  border: 2px solid #f1f1f1;
  background-color: #fff;
}

.catalog_pages .next_page {
  padding-left: 30px;
  padding-right: 30px;
}

.catalog_pages a:not(.active_page):hover {
  background-color: #e5e5e5;
}

.catalog_pages a:not(.active_page):active {
  border-top: 2px solid #b5b5b5;
  padding-top: 8px;
  background-color: #d5d5d5;
}

label {
  display: block;
}

.price_controls label{
  display: inline-block;
  width: 110px;
}




